# Dependencies
node_modules/

# Environment variables
.env
.env.*

# Logs
logs/
*.log
npm-debug.log*

# Runtime files
pids/
*.pid

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Build folders (if any)
dist/
build/
